    <% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">New People</h1>
        <div class="col-6 offset-3">
            <!-- ============================================================= -->
            <form action = "/peoples" method = "POST" novalidate class="validated-form">
            <!-- ============================================================= -->                
                <!-- first_name -->
                <div class="mb-3">
                    <label class="form-label" for="people[first_name]">First Name</label>
                    <input class="form-control" type ="text" name ="people[first_name]" required>
                </div>

                <!-- last_name -->
                <div class="mb-3">
                    <label class="form-label" for="people[last_name]">Last Name</label>
                    <input class="form-control" type ="text" name ="people[last_name]" required>
                </div>     

                                
                <!-- score -->
                <div class="mb-3">
                    <label class="form-label" for="people[score]">Score</label>
                    <select class="form-control form-select" name="people[score]" id="score">
                        <% for(let score of scores) { %> 
                            <option value="<%= score %>"><%= score %></option>
                        <% } %>             
                    </select>
                </div>            
                
                <!-- Submit -->
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>     

            </form>
            <a href="/peoples">All Peoples</a>    
        </div>
    </div>

   
    
