<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit People</title>
</head>
<body>
    <h1>Edit People</h1>
    <form action = "/peoples/<%= people._id %>?_method=PUT" method = "POST">
        First Name: <input type = "text" name = "first_name" value="<%= people.first_name %>">  <br>
        Last Name: <input type = "text" name = "last_name" value="<%= people.last_name %>"> <br>
        Score: <input type = "number" name = "score" value="<%= people.score %>">  <br>         
        <input type = "submit" value = "Submit">
    </form>    
</body>
</html>
