<html>
   <body>
      <h1>Add a People</h1>
      <form action = "/peoples" method = "POST">
         First Name: <input type = "text" name = "first_name">  <br>
         Last Name: <input type = "text" name = "last_name"> <br>
         Score: <input type = "number" name = "score">  <br>         
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>
